@charset "UTF-8";
/* common style */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  width: 1200px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.btn {
  cursor: pointer;
  border: none;
}

.btn:focus {
  outline: 3px solid orange;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  padding: 0;
  border: 0;
  white-space: nowrap;
}

.container__flex-column {
  display: flex;
  flex-direction: column;
}

.container__flex-row {
  display: flex;
  flex-direction: row;
}

.page-header {
  position: relative;
  font-weight: bold;
  line-height: 26px;
  background-color: #82b5d3;
}

.page-header__logo {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}

.page-header__nav {
  background-color: #ffffff;
}

.page-header__menu-list {
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
  margin: 0;
  padding: 0 73px;
}

.page-header__menu-item {
  width: 240px;
  min-height: 56px;
  list-style: none;
  padding: 14px 0;
}

.page-header__menu-item:nth-child(4n+1) {
  text-align: left;
}

.page-header__menu-item:nth-child(4n+2) {
  text-align: left;
  margin-right: auto;
}

.page-header__menu-item:nth-child(4n+3) {
  text-align: right;
}

.page-header__menu-item:nth-child(4n+4) {
  text-align: right;
}

.page-header__menu-link {
  color: #000000;
  text-decoration: none;
}

.page-header__menu-link:hover {
  color: #81b3d2;
}

.page-header__menu-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.page-header__menu-link:focus {
  outline: 3px solid orange;
}

.page-header__menu-link--current {
  color: #766357;
}

.page-main {
  background-color: #ffffff;
}

.page-footer {
  display: flex;
  min-height: 120px;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  opacity: 0.9;
  padding: 36px 0;
}

.page-footer__social-hashtag {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  width: 400px;
}

.page-footer__social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  width: 400px;
}

.page-footer__social-item {
  margin-right: 6px;
}

.page-footer__social-link {
  position: relative;
  display: block;
  color: #ffffff;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;
}

.page-footer__social-link::before {
  position: absolute;
  display: block;
  content: "";
  width: 46px;
  height: 48px;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
}

.page-footer__social-link--tw::before {
  background-image: url("../img/svg/twitter.svg");
  background-size: 17px 15px;
}

.page-footer__social-link--fb::before {
  background-image: url("../img/svg/fb-icon.svg");
  background-size: 12px 22px;
}

.page-footer__social-link--youtube::before {
  background-image: url("../img/svg/youtube.svg");
  background-size: 20px 16px;
}

.page-footer__social-link:hover::before {
  background-color: #669fc0;
}

.page-footer__social-link:active {
  background-color: #5496bd;
}

.page-footer__social-link:active::before {
  opacity: 0.3;
}

.page-footer__social-link:focus {
  outline: 3px solid orange;
}

.page-footer__copyright {
  display: flex;
  width: 400px;
  margin: 0;
  line-height: 26px;
  justify-content: center;
  align-items: center;
}

.page-footer__copylink {
  font-size: 0;
  margin-left: 10px;
  height: 41px;
}

.page-footer__copylink:focus {
  outline: 3px solid orange;
}

.page-footer__copylogo {
  fill: #231f20;
}

.page-footer__copylogo:hover {
  fill: #81b3d2;
}

.page-footer__copylogo:active {
  fill: #bdbbbc;
}

/* index.html style */
.page-header--index {
  background-image: url("../img/svg/intro-mask.svg"), url("../img/svg/intro-welcome.svg"), url("../img/index-bg.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 59px, 459px 353px, 1200px 800px;
  background-position: center 507px, center 132px, center -27px;
  height: 564px;
}

.features__title {
  padding-top: 60px;
  padding-bottom: 50px;
  width: 500px;
  margin: 0 auto;
}

.features__header {
  margin: 0;
  margin-bottom: 28px;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
}

.features__text {
  line-height: 26px;
  text-align: center;
  margin: 0;
  color: #333333;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.features__item {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 400px;
  background-color: #ffffff;
}

.features__item--foto-right {
  flex-direction: row;
  width: 1200px;
  color: #ffffff;
  background-color: #81b3d2;
}

.features__item--foto-left {
  flex-direction: row-reverse;
  width: 1200px;
  color: #ffffff;
  background-color: #81b3d2;
}

.features__content {
  display: relative;
  display: flex;
  width: 400px;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 46px 46px 60px;
}

.features__foto {
  position: relative;
  height: 256px;
  width: 800px;
}

.foto-right {
  position: absolute;
  right: 0;
  object-fit: cover;
}

.foto-left {
  position: absolute;
  left: 0;
  object-fit: cover;
}

.features__subheader {
  font-weight: bold;
  font-size: 21px;
  width: 160px;
  margin: 0 auto;
}

.features__number::before {
  content: "\2012";
  margin-right: 5px;
}

.features__number::after {
  content: "\2012";
  margin-left: 5px;
}

.features__description {
  margin: 0 auto;
}

.promo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 330px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  background-repeat: no-repeat;
}

.promo--house {
  background-position: center top 60px;
  background-image: url("../img/svg/icon-1.svg");
}

.promo--food {
  background-position: center top 62px;
  background-image: url("../img/svg/icon-3.svg");
}

.promo--gift {
  background-position: center top 56px;
  background-image: url("../img/svg/icon-2.svg");
}

.promo__header {
  padding-top: 160px;
  padding-bottom: 26px;
  margin: 0;
  font-weight: bold;
  font-size: 21px;
}

.promo__text {
  width: 290px;
  margin: 0 auto;
  padding-bottom: 80px;
  color: #333333;
}

.more {
  padding: 46px 60px 60px;
  min-height: 256px;
  background-color: #efefef;
}

.more__subheader {
  font-weight: bold;
  font-size: 21px;
  width: 160px;
  margin: 0 auto;
}

.more__number {
  color: #333333;
}

.more__number::before {
  content: "\2012";
  margin-right: 5px;
}

.more__number::after {
  content: "\2012";
  margin-left: 5px;
}

.more__description {
  color: #333333;
  margin: 0 auto;
}

.search-hotel {
  position: relative;
  padding-top: 50px;
  background-color: #ffffff;
  text-align: center;
  margin-bottom: -120px;
}

.search-hotel__header {
  margin: 0 auto;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 23px;
}

.search-hotel__text {
  line-height: 24px;
  width: 450px;
  margin: 0 auto;
  margin-bottom: 48px;
  color: #333333;
}

.search-hotel__map {
  height: 593px;
  background-color: #81b3d2;
  background-image: url("../img/map.png");
}

.map-wrapper {
  position: relative;
  overflow: hidden;
}

.form-search-show {
  position: relative;
  padding: 30px;
  width: 568px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #766357;
  z-index: 2;
  overflow: hidden;
}

.form-search-show:hover {
  background-color: #604d41;
}

.form-search-show:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #4f3c30;
}

.form-search {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  line-height: 26px;
  width: 568px;
  margin: 0 auto;
  padding: 55px;
  background-color: #ffffff;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.form-search--hide {
  animation: form-hide 0.5s forwards;
}

.form-search--show {
  animation: form-show 0.5s forwards;
}

.form-search--error {
  animation: shake 0.5s;
}

@keyframes form-show {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes form-hide {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
    box-shadow: none;
    transform-origin: top;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.form-search__row {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.form-search__age {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.form-search__label {
  display: inline-block;
  vertical-align: middle;
  margin-right: auto;
}

.form-search__label--children {
  margin-left: 53px;
}

.form-search__text {
  background-color: #f2f2f2;
  border: solid 2px #f2f2f2;
  width: 346px;
  height: 38px;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  padding-left: 12px;
  text-transform: uppercase;
}

.form-search__text:hover {
  background-color: #ececec;
}

.form-search__text:focus {
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
  outline: none;
}

.form-search__calendar {
  position: absolute;
  display: block;
  right: 10px;
  height: 22px;
  width: 21px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: transparent;
  background-image: url("../img/svg/calendar.svg");
  border: none;
}

.form-search__calendar:hover {
  background-image: url("../img/svg/calendar-hover.svg");
}

.form-search__calendar:active {
  background-image: url("../img/svg/calendar-active.svg");
}

.form-search__number {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  width: 38px;
  height: 38px;
  border: none;
  background-color: #f2f2f2;
}

.form-search__number:hover {
  background-color: #ececec;
}

.form-search__number:focus {
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
}

.btn--control {
  position: relative;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
}

.btn--control::before {
  position: absolute;
  content: "";
  top: 18px;
  left: 13px;
  width: 11px;
  height: 3px;
  background-color: #aaabaa;
}

.btn--control:hover::before {
  background-color: #000000;
}

.btn--control:active::before {
  background-color: #82b5d3;
}

.btn--plus::after {
  position: absolute;
  content: "";
  top: 14px;
  left: 17px;
  width: 3px;
  height: 11px;
  background-color: #aaabaa;
}

.btn--plus:hover::after {
  background-color: #000000;
}

.btn--plus:active::after {
  background-color: #82b5d3;
}

.form-search__submit {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  width: 458px;
  min-height: 58px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
  margin-top: 24px;
  padding: 0;
}

.form-search__submit:hover {
  background-color: #669fc1;
}

.form-search__submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5397be;
}

/* catalog.html style*/
.filter-hotel {
  min-height: 217px;
  color: #ffffff;
  background-color: #81b3d2;
  background-image: url("../img/catalog-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 28px 72px;
}

.form-filter {
  display: flex;
}

.form-filter__set {
  display: flex;
  flex-direction: column;
  border: none;
  min-width: 200px;
  margin: 0;
  padding: 0;
}

.form-filter__set--range {
  width: 330px;
  padding-left: 12px;
}

.form-filter__set:nth-child(2) {
  margin-left: 55px;
  margin-right: auto;
}

.form-filter__legend {
  font-weight: bold;
  font-size: 16px;
}

.form-filter__legend--range {
  margin-bottom: 9px;
  line-height: 21px;
}

.form-filter__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  margin-top: 24px;
}

.form-filter__row {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding-bottom: 25px;
}

.form-filter__row:nth-last-child(1) {
  padding: 0;
}

.form-filter__check {
  font-size: 14px;
  line-height: 21px;
}

.form-filter__check:focus + .form-filter__label::before {
  outline: 3px solid orange;
}

.form-filter__label {
  position: relative;
  cursor: pointer;
  font-size: 14px;
  line-height: 21px;
}

.form-filter__label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: -2px;
  display: block;
  width: 23px;
  height: 23px;
  background-color: transparent;
  background-image: url("../img/svg/checkbox-off.svg");
  background-repeat: no-repeat;
}

.form-filter__check:checked + .form-filter__label::before {
  width: 27px;
  background-image: url("../img/svg/checkbox-on.svg");
}

.form-filter__check:disabled + .form-filter__label::before {
  background-image: url("../img/svg/checkbox-off-dis.svg");
}

.form-filter__check:checked:disabled + .form-filter__label::before {
  background-image: url("../img/svg/checkbox-on-dis.svg");
}

.form-filter__check:disabled + .form-filter__label,
.form-filter__check:checked:disabled + .form-filter__label {
  color: #6a6a6a;
}

/* кастомный ползунок с цифрами */
.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  margin-top: 5px;
  cursor: pointer;
}

.price-controls .min-price {
  padding-left: 65px;
}

.price-controls .max-price {
  padding-left: 75px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.price-controls input:focus {
  outline: 3px solid orange;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 20px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 1px 0 1px rgba(171, 171, 171, 0.3);
  cursor: pointer;
}

.range-toggle:hover {
  transform: scale(1.1);
  background: #1c4f80;
}

.range-toggle:focus {
  outline: 3px solid orange;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.form-filter__submit {
  display: block;
  width: 138px;
  margin: 0 auto;
  padding: 6px 32px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.form-filter__submit:hover {
  color: #000000;
  background-color: #ffffff;
}

.sorted-hotel {
  color: #000000;
}

.sorted-hotel__found {
  display: flex;
  align-items: center;
  padding: 24px 72px;
  border-bottom: 1px solid #e6e6e6;
}

.sorted-hotel__quantity {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  margin-right: 48px;
}

.sorted-hotel__sorting {
  font-size: 12px;
  line-height: 18px;
  margin-right: 40px;
}

.sorted-hotel__list {
  display: flex;
  list-style: none;
  margin-bottom: 5px;
  padding: 0;
}

.sorted-hotel__item {
  font-size: 12px;
  line-height: 16px;
  margin-right: 33px;
}

.sorted-hotel__type-sort {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline dotted #81b3d2;
}

.sorted-hotel__type-sort:hover {
  color: #81b3d2;
  text-decoration: underline dotted #81b3d2;
}

.sorted-hotel__type-sort:active {
  color: #000000;
  text-decoration: none;
}

.sorted-hotel__type-sort--active {
  color: #81b3d2;
  text-decoration: none;
}

.sorted-hotel__type-sort:focus {
  outline: 3px solid orange;
}

.sorted-hotel__direction {
  margin-left: auto;
}

.sorted-hotel__arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
}

.sorted-hotel__arrow--up {
  border-bottom: 10px solid #cacaca;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.sorted-hotel__arrow--down {
  border-top: 10px solid #cacaca;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  margin-left: 10px;
}

.sorted-hotel__arrow--active {
  border-top-color: #81b3d2;
  border-bottom-color: #81b3d2;
}

.sorted-hotel__arrow:hover {
  border-top-color: #000000;
  border-bottom-color: #000000;
}

.sorted-hotel__arrow:active {
  border-top-color: #81b3d2;
  border-bottom-color: #81b3d2;
}

.sorted-hotel__arrow:focus {
  outline: 3px solid orange;
}

.sorted-hotel__article {
  border-bottom: 1px solid #e6e6e6;
  padding: 30px 72px;
  display: flex;
}

.sorted-hotel__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sorted-hotel__foto {
  order: -1;
  margin-right: 30px;
  background-color: #81b3d2;
}

.sorted-hotel__header {
  font-weight: bold;
  font-size: 21px;
  margin: 0;
  margin-top: -5px;
}

.sorted-hotel__link {
  color: #000000;
  text-decoration: none;
  line-height: 26px;
}

.sorted-hotel__link:hover {
  color: #81b3d2;
}

.sorted-hotel__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.sorted-hotel__link:focus {
  outline: 3px solid orange;
}

.sorted-hotel__description {
  margin: 0;
  margin-right: 6px;
}

.sorted-hotel__booking {
  margin: 0;
}

.sorted-hotel__option {
  margin: 0;
  margin-bottom: 12px;
  color: #333333;
}

.sorted-hotel__btn {
  display: block;
  font-weight: bold;
  color: #ffffff;
  padding: 3px 17px;
  text-decoration: none;
}

.sorted-hotel__btn--details {
  background-color: #81b3d2;
}

.sorted-hotel__btn--details:hover {
  background-color: #669ec0;
}

.sorted-hotel__btn--details:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.sorted-hotel__btn--book {
  background-color: #766357;
}

.sorted-hotel__btn--book:hover {
  background-color: #604e43;
}

.sorted-hotel__btn--book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.sorted-hotel__rating {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sorted-hotel__star {
  display: block;
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
  background-color: transparent;
  background-image: url("../img/svg/star.svg");
  background-repeat: space no-repeat;
  margin: 0;
  margin-left: auto;
}

.sorted-hotel__star--two {
  width: 41px;
}

.sorted-hotel__star--three {
  width: 65px;
}

.sorted-hotel__star--four {
  width: 89px;
}

.sorted-hotel__text {
  display: block;
  color: #666666;
  background-color: #f2f2f2;
  padding: 3px 13px;
  margin: 0;
}
